.fouss-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nice-typo {
  font-weight: bold;
  color: red;
}

.centered-btn {
  margin: auto;
  background-color: #65DE89;
  border: none;
}

.btn-fouss {
  color: #FEE84E;
  background-color: #062668;
  border-color: #062668;
}
